@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    transform: scale(1) translateX(-50%);
    opacity: 1;
}
.no-scroll{
    overflow: hidden;
}
.left-mobile{
    @apply absolute bottom-[13rem] -left-2 w-[50%] h-[18.5rem] md:hidden bg-[url('../images/bg-pattern-intro-left-mobile.svg')] bg-no-repeat z-10 bg-contain
}
.right-mobile{
    @apply absolute -top-[19rem] right-0 h-[30.5rem] w-[35%] bg-[url('../images/bg-pattern-intro-right-mobile.svg')] bg-no-repeat z-30 bg-contain md:hidden block

}
.right-desktop{
    @apply absolute top-0 -right-52 h-[30.5rem] w-[42%] bg-[url('../images/bg-pattern-intro-right-desktop.svg')] bg-no-repeat z-30 bg-contain hidden md:block
}
.left-desktop{
    @apply absolute -top-[30rem] -left-2 w-[12.1875rem] h-[32.5rem] hidden md:block bg-[url('../images/bg-pattern-intro-left-desktop.svg')] bg-no-repeat z-10 bg-contain
}
.right{
    @apply absolute -top-12 md:-top-28 right-0 md:-right-16 h-[30.5rem] md:h-[34.5rem] w-[50%] md:w-[35%] bg-[url('../images/bg-pattern-intro-right-mobile.svg')] md:bg-[url('../images/bg-pattern-intro-right-desktop.svg')] bg-no-repeat z-10 bg-contain block
}
.footer{
    @apply absolute bg-[url('../images/bg-pattern-footer-mobile.svg')] md:bg-[url('../images/bg-pattern-footer-desktop.svg')] bg-no-repeat block h-[10.9375rem] md:h-[14.5625rem] w-full md:w-[33.125rem] z-10
}
