@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    transform: scale(1) translateX(-50%);
    opacity: 1;
}
.left-mobile{
    @apply absolute bottom-[13rem] -left-2 w-[50%] h-[18.5rem] lg:hidden bg-[url('../images/bg-pattern-intro-left-mobile.svg')] bg-no-repeat z-10 bg-contain
}
/* .right-mobile{

} */
.right-desktop{
    @apply absolute top-0 -right-52 h-[30.5rem] w-[42%] bg-[url('../images/bg-pattern-intro-right-desktop.svg')] bg-no-repeat z-30 bg-contain hidden lg:block
}
/* .left-dektop{

} */
@font-face {
    font-family: "Karla";
    src: url(../static/Karla-Bold.ttf), url(../static/Karla-Regular.ttf);
}
/* @font-face {
    font-family: "DM Serif Display";
    src: url(../static/DMSerifDisplay-Regular.ttf);
} */